.container {
    margin: auto;
    border: solid 1px #DDDDDD;
    background: #EEEEEE;
    padding: 20px;
}

div#calculator-container {
    width: 50%;
}

form#calculator {
    padding: 20px;
}

.form-field {
    margin: 20px;
}

.range-input-show {
    font-size: 1.5em;
}

input {
    width: 100%;
    font-size: 1.5em;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=range] {
    cursor: pointer;
    font-size: 30px;
    height: 25px;
}

.button {
    margin: auto;
    display: block;
    width: auto;
    padding: 10px;
    font-size: 1.2em;
    padding: 5px 15px; 
    background: #CCCCCC; 
    border: 0 none;
    cursor: pointer;
}

table.calculate {
    width: auto;
    margin: auto;
    border-spacing: 0;
}

table.calculate td, table.calculate th {
    border: 1px solid #CCCCCC;
}

table.calculate td {
    text-align: right;
} 

table.calculate th {
    text-align: left;
}


